@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@400;700&display=swap');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Gantari', sans-serif;;
}

a{
  text-decoration: none;
}

.padding-center{
  padding: 0 250px;
}

.container-header{
  background-color: #fff94d;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.title {
  color: rgb(38, 38, 206);
  font-size: 21px;
}

.options-header{
  display: flex;
  align-items: center;
  gap: 15px;
  color: lightgrey;
}

.options-header a{
  color: lightslategray;
}

.container-hero{
  height: 250px;
  background-image: url(https://images.unsplash.com/photo-1505228395891-9a51e7e86bf6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1333&q=80);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-search{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px 25px;
  border-radius: 3px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-search h2{
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 24px;
}

.input-button{
  display: flex;
}

.input-button input{
  width: 500px;
  padding: 5px;
  border-radius: 3px 0 0 3px;
  border: none;
  outline: none;
  font-size: 16px;
}

.input-button button{
  background-color: #fff94d;
  border: none;
  padding: 5px;
  width: 100px;
  color: black;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-card{
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  flex: 1;
}
.card{
  border: 1px solid rgb(187, 187, 187);
}

.card img{
  width: 100%;
}

.text-card{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
}

.text-card button{
  padding: 5px 10px;
  background-color: #FFFF00;
  border: none;
  color: rgb(22, 22, 22);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.text-card button:hover{
  background-color: #e6c212;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: black;
  color: white;
}

@media screen and (max-width:1200px){
  .padding-center{
    padding: 0 100px;
  }
}

@media screen and (max-width:1000px){
  .padding-center{
    padding: 0 50px;
  }
}